.weaponCategoryElem {
    padding: 12px;
    color: #fff;
    background-color: #565d7df2;
    text-align: center;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.weaponCategoryElemIcon {
    position: absolute;
    right: 0px;
    width: 43px;
    left: 5px;
}

@media screen and (max-width: 1290px) {
  .weaponCategoryElem {
    font-size: 12px !important;
  }
}