.weaponCategoryCard {
    background-color: var(--color-block);
    padding: 20px;
    width: 100%;
    display: block;
    border-radius: 5px;
}

.card_title {
    color: var(--color-blue);
    margin: 20px 0px;
}

.filter {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}



@media screen and (max-width: 1290px) {
  .container {
      max-width: 800px;
  }
}

@media screen and (max-width: 860px) {
    .weaponCategoryCard {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}