.weapon_category {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.WeaponCategoryCards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}

.WeaponCategoryCards {
    margin-top: 40px;
}

@media screen and (max-width: 1590px) {
    .WeaponCategoryCards {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (max-width: 1290px) {
    .WeaponCategoryCards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 860px) {
    .WeaponCategoryCards {
        grid-template-columns: repeat(1, 1fr);
    }

    .weapon_category {
        grid-template-columns: repeat(2, 1fr);
    }
}