.header {
    border-radius: 0px 0px 5px 5px;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--color-white);
    transition: 1s all;
    position: sticky;
}

.visible {
    top: 0;
}

.hidden {
    top: -122px;
    transition: .2s all;
}

.header_inner {
    padding: 23px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_links {
    display: flex;
    align-items: center;
    max-width: 1470px;
    width: 100%;
    justify-content: space-between;
}

.nav_link {
    padding: 11px 11px;
    width: 100%;
    max-width: 167px;
    text-align: center;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    border-radius: 5px;
    transition: .2s all;
}

.nav_link:hover {
    color: var(--color-white);
    background-color: var(--color-blue);
}

.header_menu_burger_btn {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.header_menu_burger {
    display: none;
}

.header_menu_burger_line {
    background-color: var(--color-blue);
    width: 30px;
    height: 2px;
}

.header_menu_burger_line {
    background-color: var(--color-blue);
    width: 30px;
    height: 2px;
}

.header_menu_burger_left_line_close {
    transform: rotate(45deg);
    background-color: var(--color-blue);
    width: 30px;
    height: 2px;
    position: absolute;
}

.header_menu_burger_right_line_close {
    transform: rotate(-45deg);
    background-color: var(--color-blue);
    width: 30px;
    height: 2px;
    position: absolute;
}

.header_menu_burger_btn_close {
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: 20px;
}

.nav_links_burger {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 11px 20px;
    gap: 20px;
    text-align: center;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    border-radius: 5px;
    transition: .2s all;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: .6s all;
}

.opened {
    transform: translateX(0px);
}

.closed {
    transform: translateX(1500px);
}

.custom_select {
  position: relative;
  width: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected_language {
  display: flex;
  align-items: center;
  padding: 5px;
  text-transform: uppercase;
  font-size: 18px;
  gap: 4px;
}

.selected_language img {
  width: 16px;
  height: 16px;
}

.language_list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.language_list.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.language_item {
  display: flex;
  align-items: center;
  padding: 5px;
  transition: background-color 0.2s ease;
  text-transform: uppercase;
  font-size: 18px;
}

.language_item img {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.language_item:hover {
  background-color: #f0f0f0;
}

.arrow {
  margin-left: auto;
  transition: transform 0.3s ease;
  font-size: 12px;
}

.open {
  transform: rotate(180deg);
}url(../../../../chat/frontend/src/widgets/Header/eng.svg) url(../../../../chat/frontend/src/widgets/Header/openIcon.svg) url(../../../../chat/frontend/src/widgets/Header/ua.svg)

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 1480px) {
    .header_inner {
        padding: 23px 25px;
    }
  }
  
  @media screen and (max-width: 1290px) {
    .header_menu_burger_btn {
        display: flex;
        position: absolute;
        right: 30px;
    }

    .nav_links {
        display: none;
    }

    .header_menu_burger {
        display: flex;
    }

    .header_inner {
        justify-content: center;
    }
    .language {
        display: none;
    }
  }

  body {
    overflow-x: hidden !important;
  }   
  
  @media screen and (max-width: 860px) {
    .header_inner {
        padding: 23px 25px;
    }
  }

  