.header {
    border-radius: 0px 0px 5px 5px;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--color-white);
    transition: 1s all;
    position: sticky;
}

.visible {
    top: 0;
}

.hidden {
    top: -122px;
    transition: .2s all;
}

.header_inner {
    padding: 23px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_links {
    display: flex;
    align-items: center;
    max-width: 1470px;
    width: 100%;
    justify-content: space-between;
}

.nav_link {
    padding: 11px 20px;
    width: 100%;
    max-width: 167px;
    text-align: center;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    border-radius: 5px;
    transition: .2s all;
}

.nav_link:hover {
    color: var(--color-white);
    background-color: var(--color-blue);
}